@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
html {
    margin: 0;
    padding: 0;
    }
header {
    background-image: url('../img/orange\ and\ black\ background.jpg');
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    max-width: 100vw;
    padding: 0;
    height: 100vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}
/*Main content*/
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    background-image: url('../pages/img/pngwing.com\ \(13\).png');
    background-size:auto;
    background-position: 2rem bottom;
    font-family: 'Quicksand', sans-serif;
    }
#mainBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8rem;
}
main {
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.article {
    line-height: 3rem;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 1rem;
    color: #2e2e2e;
    }
.mainImage {
    max-height: 40rem;
    width: auto;
    margin-bottom: 5rem;
    filter: drop-shadow(5px 5px 10px #666);
    }
#bodyTitle {
    font-size: 3rem;
    color:#f66e2f;
    }

ul {
    height: 5.8rem;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #4272b4 0.5;
    }
.serviceDropdown {
    text-decoration: none;
    color: #2e2e2e;
    }
.navLink {
    color: #DDDDDD;
    min-width: 12px;
    text-decoration: none;
    font-size: 1rem;
    height: 3rem;
    margin: 0;
    transition: 0.2s;
    }
.navLink:hover {
    color: #2e2e2e;
    background-color: #ffa500;
    transition: 0.2s;
    }
li a {
    text-decoration: none;
    padding: 2rem;
    }
.dropdown-link {
    padding: 0;
}
a:hover {
    cursor: pointer;
}
#icon {
    border-radius: 20rem;
    position: sticky;
    max-height: 8rem;
    max-width: 8rem;
    margin-top: 2rem;
    margin-left: 5rem;
    border: solid #dddddd 2px;
    }
/*Header content only*/
#landing-text {
    color: #dddddd;
}
#horizontal-header {
    font-family: 'Quicksand', sans-serif;
    max-width: 100vw;
    padding: 0;
    display: flex;
    justify-content: space-between;
    }
.serviceDropdown {
    position: relative;
    display: inline-block;
    }
.dropdown-content {
    line-height: 3rem;
    font-size: 1.2rem;
    color: #252525;
    display: none;
    position: absolute;
    background-color: #ffa500;
    width: 17rem;
    padding: 12px 16px;
    z-index: 1;
    height: 13rem;
    padding-left: 2.5rem;
    }
.serviceDropdown:hover .dropdown-content {
    display: block;
    }
.serviceDropdown:hover a {
    color: #2e2e2e;
    background-color: #ffa500;
    }
footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
    bottom: 0;
    max-width: 100vw;
    background-color: #2e2e2e;
    color: white;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items:baseline;
    gap: 8rem;
    }
/*Header content only*/
#landing-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.4rem;
    margin-left: 5rem;
    margin-bottom: 8rem;
    margin-top: 8rem;
}
#landing-para {
    line-height: 2.5rem;
    font-size: 1.2rem;
}
.arrow {
    width: 1rem;
    height: auto;
    z-index: 1;
}
#bottom-links {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#contact-link {
    text-align: center;
    color: #dddddd;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;;
    width: 15rem;
    height: 3rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.8rem;
    margin-right: 4.5rem;
    border: 1px solid #dddddd;
    background-color: #252525;
    transition: 0.2s;
    color: #dddddd;
    border-radius: 5rem;
}
#contact-link:hover {
    background-color:#ffa500;
    cursor: pointer;
    color: #252525;
    transition: 0.2s;
}
#form-link {
    text-align: center;
    color: #dddddd;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;;
    width: 12rem;
    height: 3rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 3rem;
    margin-left: 4.5rem;
    border: 1px solid #dddddd;
    background-color: #ffa500;
    transition: 0.2s;
    color: #2e2e2e;
}
#form-link:hover {
    background-color:#252525;
    cursor: pointer;
    color: #dddddd;
    transition: 0.2s;
}
#contact-icons {
    padding: 1rem;
    display: flex;
    }
#header-icons {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: auto;
    margin-top: 3rem;
    gap: 1rem;
    padding: 0;
    filter: drop-shadow(1px 2px 3px #852a01);
}
#searchIcons {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    justify-content:space-between;
    align-items: center;
}
#navBar {
    max-width: auto;
    display: flex;
}
#searchBar {
    margin-left: 10rem;
    color: #2e2e2e;
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;
    padding: 0.5rem;
    border: solid #2e2e2e 2px;
    background-color: #e3e3e3;
}
#login {
    display: flex;
    flex-direction: row;
    height: 2rem;
    justify-content: right;
    align-items: center;
    margin-top: 2rem;
    margin-right: 1rem;
}
#headerText {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color:#d2c74d;
    color: #2e2e2e;
    display: flex;
    justify-content: left;
    font-size: 1.2rem;
    width: fit-content;
    border-radius: 2rem;
    margin-bottom: 2rem;;
}
#runningText {
    font-family: 'Quicksand', sans-serif;
    margin-top: 2rem;
    color: #dddddd;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    position: absolute;
    left: 5rem;
    top: 32rem;
}
#iconText {
    font-size: 1.5rem;
    color: #dddddd;
    margin-left: 1rem;
    margin-right: 8rem;
    margin-top: 0rem;
}

#iconLine {
    margin-top: 2rem;
    margin-left: 1rem;
    height: 7.5rem;
}
#quote {
    text-decoration: none;
    width: 12rem;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #ffa500;
    border-radius: 3rem;
    margin-bottom: 5rem;
    color:#252525;
    border: solid #252525 1px;
}
#back-top {
    text-decoration: none;
    color: #2e2e2e;
    font-size: 1.2rem;
}