@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html {
    margin: 0;
    padding: 0;
    }
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #f66e2f;
    font-family: 'Quicksand', sans-serif;
    }
#form-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    list-style: none;
    }
#section {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 42rem;
    }
.input {
    height: 2rem;
    width: 12rem;
    }
.form-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    }
#btn {
    font-family: 'Quicksand', sans-serif;
    padding: 1rem;
    font-size : 1.5rem;
    background-color: #d2c74d;
    border: solid #2e2e2e 2px;
    border-radius: 1rem;
    cursor: pointer;
    }
#btn:hover {
    background-color: #a8a040;
    }
#text2 {
    font-size: 2rem;
}