@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html {
    margin: 0;
    padding: 0;
    }
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color:#f1f1f1;
    font-family: 'Quicksand', sans-serif;
    }
#form-ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    margin-right: 5rem;
    }
#section {
    background-color: #d1d1d1;
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 0;
    padding-left: 5rem;
    }
.input {
    height: 2rem;
    width: 15rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    height: 2.2rem;
    transition: 0.3s;
    }
.input:focus {
    background-color: #f9f1c6;
    box-shadow: rgba(72, 135, 202, 0.8) 0 0 40px 10px;
    transition: 0.3s;

}
.form-list {
    display: flex;
    flex-direction: column;
    }
#btn {
    font-family: 'Quicksand', sans-serif;
    padding: 1rem;
    font-size : 1.5rem;
    background-color: #f66e2f;
    border: none;
    cursor: pointer;
    color: white;
    width: 15rem;
    transition: 0.3s;
    }
#btn:hover {
    background-color: #e46429;
    transition: 0.3s;
    }
#text2 {
    font-size: 2rem;
}
#form-img {
    background-size: cover;
    width: auto;
    height: 40rem;
    filter: drop-shadow(5px 10px 9px #a39f9f);
    border: none;
}
#login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
#google-signin {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    gap: 1rem;
    width: 15rem;
    padding: 0.6rem;
    background-color: rgb(54, 126, 221);
    color: white;
}
#gicon {
    width: 1.6rem;
    height: auto;
}