@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/*Structure */
html {
    margin: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
footer {
    position: relative;
    height: 20rem;
    background-color: #2f2e2c;
    width: 100vw;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
#back-home {
    color: #2f2e2c;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background-color: #dddddd;
    width: 12rem;
    border-radius: 1.5rem;
    padding:0.2rem;
    margin-top: 2rem;
    margin-left: 10rem;
}
#arrow {
    width: 3rem;
    height: auto;
}
    /* user header*/
    #user-header {
        display: flex;
        flex-direction: column;
        align-items: right;
        background-color: #2f2e2c;
        color: #dddddd;
        padding-bottom: 1rem;
    }
    #user-nav {
        background-image: url('../img/orange\ and\ black\ background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 17rem;
        width: 100vw;
    }
    #user-photo {
        width: 12rem;
        height: 12rem;
        border-radius: 15rem;
        margin-left: 10rem;
        border: solid #dddddd 2px;
    }
    #user-info {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    #user-banner {
        display: flex;
        align-items: center;
        gap: 8rem;
    }

    /* main content*/
    #main-content {
        display: flex;
    }
    #sidebar {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 30rem;
        border-right: solid #53524e 1px;
    }