@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/*Structure */
html {
    margin: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: #f66e2f;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 1rem;
}
#form-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#section {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-height: 42rem;
}
.input {
    height: 2rem;
    width: 12rem;
}
#radio {
    list-style: none;
    font-size: 0.8rem;
}
#btn {
    font-family: 'Quicksand', sans-serif;
    padding: 1rem;
    font-size : 1.5rem;
}
#text2 {
    font-size: 2rem;
}
.form-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}