/*Fonts import */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* Inner form */
#form {

}
#text2 {
    font-size: 2rem;
}
.basicList, #radio {
    list-style-type: none;
}
#radio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-ul {
    display: flex;
    flex-wrap: wrap;
    border: none;
    gap: 1rem;
    width: 10rem;
}
.input {
    background-color: rgb(46, 44, 44, 0.8);
    border: none;
    height: 2rem;
    width: 10.5rem;
    color: rgb(232, 222, 210);
}
.btn {
    font-family: 'Quicksand', sans-serif;
    background-color: #d2c74d;
    color: #2e2e2e;
    padding: 1.5rem;
    font-size: 1.7rem;
    transition: 0.2s;
    border: 1px solid #79722d;
    margin-top: 3rem;
}
.btn:hover {
    background-color: #79722d;
    color: white;
    transition: 0.2s;
}
#section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #3b1300;
    width: 40rem;
    height: 50rem;
    min-width: 15rem;
    min-height: 14rem;
    padding-top: 1rem;
}
.label1, .label2 {
    color: rgb(232, 222, 210);
    font-size: 0.8rem;
    max-width: 20rem;
}
.rad1, .rad2 {
    display: flex;
    text-align:left;
    align-items:start;
    gap: 1rem;
    font-size: 1.5rem;
}
.signIn {
    font-size: 1rem;
    color:rgb(232, 222, 210);
}
.signLink {
    color:#d2c74d;
}
.input {
    background-color: rgba(235, 235, 235);
    color:rgb(56, 56, 56);
}
/* Valid check */
.input:valid {
    background-color: rgb(40, 145, 72);
}
.input:invalid:focus {
    background-color: rgb(129, 60, 50);
    color: white;
}
.check1, .check2 {
    width: 1rem;
}
/*Structure */
html {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    border: 0;
}


/*Header */
header {
    background-color: #f66e2f;
    color:#2e2e2e;
    font-family: 'Quicksand', sans-serif;
    max-width: 100vw;
    padding: 0;
    height: 28rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
.serviceDropdown {
    position: relative;
    display: inline-block;
    }
.dropdown-content {
    line-height: 3rem;
    color: #2e2e2e;
    display: none;
    position: absolute;
    background-color: #d2c74d;
    width: 17rem;
    padding: 12px 16px;
    z-index: 1;
    height: 13rem;
    padding-left: 2.5rem;
    }
.serviceDropdown:hover .dropdown-content {
    display: block;
    }
.serviceDropdown:hover a {
    color: #2e2e2e;
    background-color: #d2c74d;
    }
footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
    bottom: 0;
    max-width: 100vw;
    background-color: #2e2e2e;
    color: white;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items:baseline;
    gap: 8rem;
    }
/*Header content only*/
#form-button {
    font-family: 'Quicksand', sans-serif;
    width: 10rem;
    margin-top: 8rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid rgb(141, 69, 28);
    background-color: #d2c74d;
    transition: 0.2s;
}
#form-button:hover {
    background-color:#913d0d;
    cursor: pointer;
    color: white;
    transition: 0.2s;
}
#icon {
    border-radius: 15rem;
    position: sticky;
    max-height: 8rem;
    max-width: 8rem;
    margin-top: 2rem;
    margin-left: 5rem;
    border: solid #2e2e2e 2px;
    }
#contact-icons {
    padding: 1rem;
    display: flex;
    }
#header-icons {
    display: flex;
    flex-direction: row;
    width: 2rem;
    height: 2rem;
    margin-top: 7rem;
    gap: 1rem;
    padding: 0;
    filter: drop-shadow(1px 2px 3px #852a01);

}
#links-ul {
    height: 5.8rem;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #4272b4 0.5;
    width: 100vw;
    }
#searchIcons {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    justify-content:space-between;
    align-items: end;
}
#navBar {
    max-width: auto;
    display: flex;
}
.searchBar {
    color: #2e2e2e;
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;
    padding: 0.5rem;
    border: solid #2e2e2e 2px;
    background-color: #e3e3e3;
}
#login {
    display: flex;
    flex-direction: row;
    height: 2rem;
    justify-content: right;
    align-items: center;
    margin-top: 2rem;
    margin-right: 1rem;
}
img:hover {
    cursor: pointer;
}
#headerText {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color:#d2c74d;
    color: #2e2e2e;
    display: flex;
    justify-content: left;
    font-size: 1.2rem;
    width: fit-content;
    border-radius: 2rem;
    margin-bottom: 2rem;;
}
#runningText {
    font-family: 'Quicksand', sans-serif;
    margin-top: 2rem;
    color: #2e2e2e;
    display: flex;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    top: 42rem;
}
#iconText {
    font-size: 1.3rem;
    color: #2e2e2e;
    margin-left: 1rem;
    margin-top: 3rem;
}
#iconLine {
    margin-top: 2rem;
    margin-left: 0.5rem;
    height: 8rem;
}



/*Main content */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    }
#mainBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main {
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.article {
    line-height: 2.5rem;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 1rem;
    color: #2e2e2e;
    }
.mainImage {
    max-height: 30rem;
    width: auto;
    }
#bodyTitle {
    font-size: 3rem;
    color:#f66e2f;
    }

ul {
    height: 5.8rem;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #4272b4 0.5;
    width: 100vw;
    }
.serviceDropdown {
    text-decoration: none;
    color: #2e2e2e;
    }
.navLink {
    color: #2e2e2e;
    min-width: 12px;
    text-decoration: none;
    font-size: 1rem;
    height: 3rem;
    margin: 0;
    transition: 0.2s;
    }
.navLink:hover {
    color: #2e2e2e;
    background-color: #d2c74d;
    transition: 0.2s;
    }
li a {
    padding: 2.6rem;
    }
#icon {
    border-radius: 15rem;
    position: sticky;
    max-height: 8rem;
    max-width: 8rem;
    margin-top: 2rem;
    margin-left: 5rem;
    border: solid #2e2e2e 2px;
    }



/*Footer */